<!-- Hago un template para mostrar los datos de mis familiares -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Familiares</title>
    <!-- Le pongo bootstrap para que mejore un poco el diseño -->
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

</head>
<body>
   
    <!-- Le pongo un título a la lista de familiares, y una descripción de los campos que veremos debajo -->
    <h1>Listado de Familiares en la base de datos</h1>
    <h5>(Nombre y Apellido, DNI, email y Fecha de Nacimiento)</h5>
    <br>
    
    
    <ul>
        <!-- Hago un for para que me traiga uno a uno los familiares en la db -->
        {% for familiar in familiares %}
            <p>
            <h4>
            <li>{{familiar.nombre}} {{familiar.apellido}}, {{familiar.dni}}, {{familiar.email}}, {{familiar.fecha_nacimiento}}</li>
            </h4>
            </p>
            
        {% endfor %}
    </ul>
    
</body>
</html>