<!-- Extiendo base.html -->
{% extends 'DatosFlia/base.html' %}

<!-- Hago un template para mostrar los datos de mis familiares -->
    {% block content %}
    <!-- Le pongo un título a la lista de familiares, y una descripción de los campos que veremos debajo -->
    <h1>Listado de Familiares en la base de datos</h1>
    <h5>(Nombre y Apellido, DNI, email y Fecha de Nacimiento)</h5>
    <br>
    
    
    <ul>
        <!-- Hago un for para que me traiga uno a uno los familiares en la db -->
        {% for familiar in familiares %}
            <p>
            <h4>
            <li>{{familiar.nombre}} {{familiar.apellido}}, {{familiar.dni}}, {{familiar.email}}, {{familiar.fecha_nacimiento}}</li>
            </h4>
            </p>
            
        {% endfor %}


    </ul>
    {% endblock %}

