<!-- Extiendo baseReg.html -->
{% extends 'DatosFlia/baseReg.html' %}
    
    {% block content %}
   
    {% if miFormulario.errors %}
    <p style="color: red,">Están mal los datos. REVISAR</p>
    {% endif %}

    <h1>Registre un Vehículo</h1>
    
    <br>
    <!-- Armo el form -->
    <form action="/regVehiculo/" method="POST">
        <!-- Agrego el token de seguridad -->
        {% csrf_token %}
        <!-- Agrego los input y el botón de submit -->
        
        <p>Tipo: <Input type="text" name="tipoV"></p>
        <p>Marca: <Input type="text" name="marcaV"></p>
        <p>Modelo: <Input type="text" name="modeloV"></p>
        <p>Ruedas: <Input type="number" name="ruedas"></p>
        <p>Fecha de Fabricación: <Input type="date" name="fecha_produccionV"></p>
        <p><input type="submit" value="Enviar"></p>
        
    </form> 

    {% endblock %}
